.custom_collection_row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  &.new_item_row {
    cursor: pointer;
  }
  .remove_row, .add_row {
    cursor: pointer;
    color: #921e12;
    margin-right: 10px;
  }
  .add_row {
    color: #0a4b3e;
  }
  textarea {
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    padding: 5px;
  }
}